dtd/menu.dtd

<!--
  Copyright (C) Igor Sysoev
  Copyright (C) Nginx, Inc.
  -->

<!ELEMENT  menus        (menu+) >

<!ELEMENT  menu         (item+) >
<!ATTLIST  menu
           lang         CDATA #REQUIRED
>

<!ELEMENT  item         (#PCDATA) >
<!ATTLIST  item
           href         CDATA #IMPLIED
           lang         CDATA #IMPLIED
           year         CDATA #IMPLIED
           switchlang   CDATA #IMPLIED
>
