dtd/versions.dtd

<!--
  Copyright (C) Nginx, Inc.
  -->

<!ELEMENT  versions     (download+) >

<!ELEMENT  download     (item+) >
<!ATTLIST  download
           tag          (development | stable | legacy) #REQUIRED
           changes      CDATA #REQUIRED
>

<!ELEMENT  item         EMPTY >
<!ATTLIST  item
           ver          CDATA #REQUIRED
           pgp          (yes | no) "yes"
           win          (yes | no) "yes"
>
